.container {
    width: 100vw;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formInput {
    margin-top: -23px; 
}

.button-signup {
    margin-top: 44px;
}

@media screen and (max-width: 575px) {
    .formInput {
        margin-top: -62px; 
    }
    .button-signup {
        margin-top: 35px;
    }
}