.form__container {
    width: 100vw;
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign-up-page {
    padding: 32px;
}

.sign-in-page {
    padding: 22px;
}

.form__signup__button {
    padding-top: 28px;
}
