.row {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.col {
  display: flex;
  flex-direction: column;
}

.update-profile {
  flex-grow: 1;
  margin-right: 32px;
}

.profile-image {
  max-width: 300px;
  margin-bottom: 32px;
}

.profile-image img {
  display: block;
  margin: 0 auto;
  width: 200px;
}

.change-password button,
.delete-profile button,
.update-profile button {
  min-width: 150px;
}

.btn-group {
  display: flex;
}

.change-password {
  margin-right: 16px;
}
