.question-item {
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  padding: 16px 32px;
  width: 100%;
  margin-bottom: 16px;
  transition: all 300ms;
  color: #000;
}

.question-item:hover {
  border-color: #fab350;
}
