.zone {
  cursor: pointer;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
}
.main-nav {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 0.7em;
}
li {
  margin: auto;
}
@media only screen and (max-width: 100px) {
  .main-nav {
    font-size: 0.5em;
    padding: 0;
  }
}
